.mainPane{
    -fx-background-color: #ffffff;
}

.pane{
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.3, 3, 3);
    -fx-border-color: #ced2ce;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.separa .line {
    -fx-border-color: #4b4c4d;
    -fx-border-width: 0 1 0 0;
    -fx-border-style: solid;
    -fx-border-radius: 2;
    -fx-opacity: 0.8;
}

.button{
    -fx-background-color:  #699af1;
    -fx-background-radius: 20px;
}

.input-field{
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color:  #5f5f5f;
}

.combo-box{
    -fx-border-color:  #5f5f5f;
}